.card-header{
  border-radius: 5px 5px 0 0;
  padding-bottom: 15px;
  padding-left: 10px;
}
.right-nevigation {
  margin-left: 800px;
  float: right;
  margin-top: 10px;
}
.container {
  padding: 2px 16px;
  padding-top: 30px;
}
.uploadTable {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.uploadTable td, .uploadTable th {
  padding: 6px;
}
//.uploadTable tr:nth-child(even){background-color: #f2f2f2;}
.uploadTable tr:hover {
  background-color: #AEE3F0;
  font-weight: bold;
  color: #2C3D8B;
}
.uploadTable th {
  text-align: center;
  font-weight: bold;
  color: #2C3D8B;
  border-bottom: 1px solid #EE2024;
}

.navigationButtons {
  float: right;
}
.cen {
  border-collapse: collapse;
  margin-left: 350px;
}


