.card-header{
  border-radius: 5px 5px 0 0;
  padding-bottom: 15px;
  padding-left: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height:83vh;

}

.right-nevigation {
  float: right;
  margin-top: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

th.mat-header-cell {
  text-align: left;
  font-weight: bold;
  background-color: #4D6FAC;
  color: white;
}

tr:hover {
  background-color: #e0e0e0;
  font-weight: bold;
}

