<h2 mat-dialog-title align="center">Update Currency</h2>

<mat-dialog-content>
  <form [formGroup]="reactiveForm2" class="matero-form-horizontal">

    <div fxLayout="column wrap">

      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field>
          <mat-label>Currency Name</mat-label>
          <input matInput placeholder="" formControlName="cur_name" [ngModel]="curName"
                 required>
          <mat-error *ngIf="reactiveForm2.get('cur_name').invalid">Currency Name Required
          </mat-error>
        </mat-form-field>
      </div>


      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field>
          <mat-label>Short Currency Name</mat-label>
          <input matInput placeholder="" formControlName="cur_short_name" [(ngModel)]="curShortName"
                 required>
          <mat-error *ngIf="reactiveForm2.get('cur_short_name').invalid">Please Enter Currency Name
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field>
          <mat-label>Swift code</mat-label>
          <input matInput placeholder="" formControlName="cur_swift_code" [ngModel]="curSwiftCode"
                 required>
          <mat-error *ngIf="reactiveForm2.get('cur_name').invalid">Currency Swift Code Required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field>
          <mat-label>Report Name</mat-label>
          <input matInput placeholder="" formControlName="cur_report_name" [ngModel]="curReportName"
                 required>
          <mat-error *ngIf="reactiveForm2.get('cur_name').invalid">Currency Report Name Required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<!--div mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close align="center">Close</button>
  <button (click)='countryFormUpdate(reactiveForm2.value)' [disabled]="!reactiveForm2.valid" mat-raised-button color="primary" class="m-t-8">Update</button>
</div-->
<mat-dialog-actions>
  <button class="mat-raised-button" mat-dialog-close>Close</button>
  <button (click)='currencyFormUpdate(reactiveForm2.value)' [disabled]="!reactiveForm2.valid" mat-raised-button color="red" class="mat-raised-button mat-primary">Save</button>
</mat-dialog-actions>
