<h2 mat-dialog-title align="center">Add New Officer</h2>

<mat-dialog-content>
  <form [formGroup]="officerAddForm" class="matero-form-horizontal">
    <div fxLayout="column wrap">
      <div   fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field appearance="fill">
          <mat-label>Employee Code</mat-label>
          <input matInput placeholder="" formControlName="employeeCode" required>
          <mat-error *ngIf="officerAddForm.get('employeeCode').invalid">Employee Code Required
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field appearance="fill">
          <mat-label>Employee Name</mat-label>
          <input matInput placeholder="" formControlName="employeeName"
                 required>
          <mat-error *ngIf="officerAddForm.get('employeeName').invalid">Employee Name Required
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field appearance="fill">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="" formControlName="emailAddress"
                 required>
          <mat-error *ngIf="officerAddForm.get('emailAddress').invalid">Email Address Required
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="" formControlName="phoneNumber"
                 required>
          <mat-error *ngIf="officerAddForm.get('phoneNumber').invalid">Phone Number Required
          </mat-error>
        </mat-form-field>
      </div>
      <div  fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select matInput placeholder="" formControlName="status">
            <mat-option *ngFor="let s of statusValue" [value]="s.value">
              {{s.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions align="center">
  <button mat-raised-button color="accent" mat-dialog-close >Close</button>
  <button (click)='officerAdd(officerAddForm.value)' [disabled]="!officerAddForm.valid"
          mat-raised-button color="primary" class="mat-raised-button mat-primary">Save</button>
</div>


