<app-notification-comp></app-notification-comp>
<form [id]="bankAddId" [formGroup]="reactiveForm4" (ngSubmit)="addBank(reactiveForm4.value)" class="matero-form-horizontal">
<div class="card">
  <div class="card-header">
      <div fxLayout="row">
        <div fxFlex="3" >
          <button style="margin-top: 10px" mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div fxFlex="37" >
          <h3>Bank Create</h3>
        </div>
        <div fxFlexOffset="33" fxFlex="30"  >
          <div class="right-nevigation">
            <button mat-icon-button matTooltip="Go Back">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Cancel" >
              <mat-icon>cancel</mat-icon>
            </button>
            <button mat-icon-button color="primary" type="submit" matTooltip="Save">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>
      </div>
  </div>
  <div class="container">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Basic Information">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
          <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%" fxFlex.sm="50%" fxLayout.lt-sm="column"
                   fxFlex.xs="100%" fxLayoutAlign="flex-start">
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                                fxFlex.xs="100%" appearance="fill">
              <mat-label>Full Name</mat-label>
                  <label>
                    <input matInput placeholder="Full name" formControlName="fullName" required />
                  </label>

            </mat-form-field>
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>Short Name</mat-label>
              <input matInput placeholder="Short name" formControlName="shortName" required />

            </mat-form-field>
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>Report Name</mat-label>
              <input matInput placeholder="Report name" formControlName="reportName" required />

            </mat-form-field>
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>BB code</mat-label>
              <input matInput placeholder="BB code" formControlName="bbCode" required />
            </mat-form-field>
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>Swift code</mat-label>
              <label>
                <input matInput placeholder="Swift code" formControlName="swiftCode" required />
              </label>
            </mat-form-field>
<!--            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"-->
<!--                            fxFlex.xs="100%" appearance="fill">-->
<!--              <mat-label>Base Currancy</mat-label>-->
<!--              <mat-select placeholder="Upzilla" formControlName="currancy" required>-->
<!--                <mat-option *ngFor="let upzilla of upzillaData" [value]="upzilla.id">{{upzilla.name}} </mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>BB Reg No.</mat-label>
              <label>
                <input matInput placeholder="BB Reg" formControlName="bbReg" required />
              </label>
            </mat-form-field>
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <input matInput [matDatepicker]="picker" ng-model-options="{ timezone: 'utc' }" placeholder="Open Date" formControlName="openDate" required >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>Phone</mat-label>
              <label>
                <input matInput placeholder="Phone" formControlName="phone" required />
              </label>
            </mat-form-field>
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>Currancy</mat-label>
              <mat-select placeholder="Currancy" formControlName="currency" required>
                <mat-option *ngFor="let currency of currencyData" [value]="currency.id">{{currency.cur_name}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Other Information">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
            <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%" fxFlex.sm="50%" fxLayout.lt-sm="column"
                 fxFlex.xs="100%" fxLayoutAlign="flex-start">
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Fax</mat-label>
                <label>
                  <input matInput placeholder="fax" formControlName="fax" required />
                </label>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Email</mat-label>
                <label>
                  <input matInput placeholder="Email" formControlName="email" required />
                </label>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Web</mat-label>
                <label>
                  <input matInput placeholder="Web" formControlName="web" required />
                </label>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Contact Person</mat-label>
                <label>
                  <input matInput placeholder="Contact Person" formControlName="contactPerson" required />
                </label>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Depository Part</mat-label>
                <label>
                  <input matInput placeholder="Depository Part" formControlName="depositoryPart" required />
                </label>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Foreign Institute</mat-label>
                <label>
                  <input matInput placeholder="Foreign Institute" formControlName="foreignInstitute" required />
                </label>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Cntr Bank Agent</mat-label>
                <label>
                  <input matInput placeholder="Cntr Bank Agent" formControlName="cntrBankAgent" required />
                </label>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Depo Comp Id</mat-label>
                <label>
                  <input matInput placeholder="Depo Comp Id" formControlName="depCompId" required />
                </label>
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
      <mat-tab label="Address">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
          <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%" fxFlex.sm="50%" fxLayout.lt-sm="column"
               fxFlex.xs="100%" fxLayoutAlign="flex-start">
<!--            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"-->
<!--                            fxFlex.xs="100%" appearance="fill">-->
<!--              <mat-label>Country</mat-label>-->
<!--              <mat-select placeholder="Country" formControlName="country" required>-->
<!--                <mat-option *ngFor="let country of countryData" [value]="country.id">{{country.name}} </mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>Country</mat-label>
              <label>
                <input matInput placeholder="Country" formControlName="country" [disabled]="true" required >
              </label>
            </mat-form-field>

            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>Division</mat-label>
              <mat-select placeholder="Division" [ngModel]="selectedDivision" (ngModelChange)="onSelect($event)"  formControlName="division" required>
                <mat-option *ngFor="let division of divisionData" [value]="division.id">{{division.name}} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>City</mat-label>
              <label>
                <input matInput placeholder="City" formControlName="city" required />
              </label>
            </mat-form-field>
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>District</mat-label>
              <mat-select placeholder="District" [ngModel]="selectedDistrict" (ngModelChange)="onSelectDistrict($event)"  formControlName="district" required>
                <mat-option *ngFor="let district of districtData" [value]="district.id">{{district.name}} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>Upzilla</mat-label>
              <mat-select placeholder="Upzilla" formControlName="upzilla" required>
                <mat-option *ngFor="let upzilla of upzillaData" [value]="upzilla.id">{{upzilla.name}} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                            fxFlex.xs="100%" appearance="fill">
              <mat-label>Postal Code</mat-label>
              <label>
                <input matInput placeholder="Postal Code" type="number" formControlName="postalcode" required />
              </label>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
</form>






