<!--<pre>-->
<!--  {{dataSource | json}}-->
<!--</pre>-->

<div class="card">
  <div class="card-header">
    <div fxLayout="row">
      <div fxFlex="7" >
        <button mat-icon-button [routerLink]="['']">
          <mat-icon style="font-size: 40px; margin-top: 18px; color: #4d6fac;">home</mat-icon>
        </button>
      </div>
      <div fxFlex="20" >
        <h3 >Branch Info</h3>
      </div>
      <div fxFlex="30" >
        <mat-form-field style="margin-top: 5px;" >
          <mat-label>Select a bank</mat-label>
          <mat-select placeholder="Select a bank" [ngModel]="selectedBank" (ngModelChange)="onSelect($event)" >
            <mat-option *ngFor="let bank of bankData" [value]="bank.bbCode">{{bank.fullName}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="37" >
        <mat-form-field style="margin-top: 5px;" >
          <input type="search" aria-label="Search" placeholder="Search" matInput (keyup)="applyFilter($event.target.value)" />
          <button mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxFlex="6"  >
        <div class="right-nevigation">

          <button mat-icon-button color="primary" matTooltip="Add New"  [routerLink]="['create']">
            <mat-icon style="font-size: 40px; margin-top: 18px;">add_box</mat-icon>
          </button>
        </div>

      </div>

    </div>

  </div>
  <div class="container" >

      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
          <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="shortName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Short Name </th>
          <td mat-cell *matCellDef="let row"> {{row.shortName}} </td>
        </ng-container>
        <ng-container matColumnDef="routingNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Routing No </th>
          <td mat-cell *matCellDef="let row"> {{row.routingNo}} </td>
        </ng-container>
        <ng-container matColumnDef="reportName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Report Name </th>
          <td mat-cell *matCellDef="let row"> {{row.reportName}} </td>
        </ng-container>
        <ng-container matColumnDef="swiftCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Swift Code  </th>
          <td mat-cell *matCellDef="let row"> {{row.swiftCode}} </td>
        </ng-container>
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" [routerLink]="['details', row.id]">
              <mat-icon class="mat-18">view_list</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="accent" [routerLink]="['update', row.id]">
              <mat-icon class="mat-18">update</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="warn" (click)="deleteBranchRow(row.id)" >
              <mat-icon class="mat-18">delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>
</div>





