<app-notification-comp></app-notification-comp>
<h2 mat-dialog-title align="center">Update Treasury File</h2>

<mat-dialog-content>
  <form [formGroup]="reactiveForm1" class="matero-form-horizontal">

    <div fxLayout="column wrap">

      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field appearance="fill">
          <mat-label>Stelar Cur</mat-label>
          <input matInput placeholder="" formControlName="Stelar_Cur" [ngModel]="Stelar_Cur" type="string" readonly>
          <mat-error *ngIf="reactiveForm1.get('Stelar_Cur').invalid">Please Enter Stelar Cur
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field appearance="fill">
          <mat-label>Cur</mat-label>
            <mat-select placeholder="Select a Cur" formControlName="Cur" [ngModel]="selectedCur" (ngModelChange)="onSelect($event)" >
              <mat-option *ngFor="let cur of curData" [value]="cur.cur_short_name">{{cur.cur_short_name}} </mat-option>
            </mat-select>
          </mat-form-field>
      </div>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions  align="center">
  <button class="mat-raised-button" mat-dialog-close color="accent">Close</button>
  <button (click)='treasuryFormUpdate(reactiveForm1.value)' [disabled]="!reactiveForm1.valid" mat-raised-button color="primary" class="mat-raised-button mat-primary">Save</button>
</mat-dialog-actions>
