<h3 mat-dialog-title>Add Country</h3>

<!--<mat-dialog-content>-->
<!--  <form [formGroup]="reactiveForm1" class="matero-form-horizontal">-->

<!--    <div fxLayout="column wrap">-->
<!--      <div-->
<!--        fxLayout="row wrap"-->
<!--        fxLayoutGap="10px"-->
<!--        fxFlex="100%"-->
<!--        fxFlex.sm="50%"-->
<!--        fxLayout.lt-sm="column"-->
<!--        fxFlex.xs="100%"-->
<!--        fxLayoutAlign="flex-start"-->
<!--        class="pp"-->
<!--      >-->
<!--        <mat-form-field fxFlex="0 1 calc(33% - 10px)" fxFlex.lt-md="0 1 calc(100% - 10px)" fxFlex.lt-sm="100%"-->
<!--                        fxFlex.xs="100%" appearance="fill">-->
<!--          <mat-label>Country Name</mat-label>-->
<!--          <input matInput placeholder="" formControlName="name"-->
<!--                 required>-->
<!--          <mat-error *ngIf="reactiveForm1.get('name').invalid">Country Name Required-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--      </div>-->


<!--      <div fxFlex="50" fxFlex.lt-sm="100">-->
<!--        <mat-form-field>-->
<!--          <mat-label>Short Country Name</mat-label>-->
<!--          <input matInput placeholder="" formControlName="short_name"-->
<!--                 required>-->
<!--          <mat-error *ngIf="reactiveForm1.get('short_name').invalid">Short Name Required-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</mat-dialog-content>-->
<!--<mat-dialog-actions>-->
<!--  <button class="mat-raised-button" mat-dialog-close>Close</button>-->
<!--  <button (click)='countryFormSubmit(reactiveForm1.value)' [disabled]="!reactiveForm1.valid" mat-raised-button color="red" class="mat-raised-button mat-primary">Save</button>-->
<!--</mat-dialog-actions>-->

<mat-dialog-content>
  <form [formGroup]="reactiveForm1" class="matero-form-horizontal">
    <div fxLayout="column">
              <mat-form-field>
                <mat-label>Country Name</mat-label>
                <input matInput placeholder="" formControlName="name"
                       required>
                <mat-error *ngIf="reactiveForm1.get('name').invalid">Country Name Required
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Short Country Name</mat-label>
                <input matInput placeholder="" formControlName="short_name"
                       required>
                <mat-error *ngIf="reactiveForm1.get('short_name').invalid">Short Name Required
                </mat-error>
              </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div fxLayout="row" >
    <button style="float: right;" class="mat-raised-button" mat-dialog-close>Close</button>
    <button style="float: right;"  (click)='countryFormSubmit(reactiveForm1.value)' [disabled]="!reactiveForm1.valid"
            mat-raised-button color="red" class="mat-raised-button mat-primary">Save</button>
  </div>

</mat-dialog-actions>
