.mat-toolbar.mat-primary {
 // background: #283891;
  color: #fff;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #283891;
 // background-color: #154364;
  color: white;
  font-size: 12.5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
