.mat-toolbar.mat-primary {
  background: #2962FF;
  color: #fff;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #311B92;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}
