.mat-toolbar.mat-primary {
  background: #2962FF;
  color: #fff;
}
.footer{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #311B92;
  color: white;
  height: 20px;
}
