.card-header{
  border-radius: 5px 5px 0 0;
  padding-bottom: 15px;
  padding-left: 10px;
}

.right-nevigation {
  margin-left: 800px;
  float: right;
  margin-top: 10px;
}

.table {
  font-family: arial, sans-serif;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
 td, th {
  padding: 6px;
}
tr:hover {
  background-color: #AEE3F0;
  font-weight: bold;
  color: #2C3D8B !important;
}
th {
  text-align: center;
  font-weight: bold;
  color: #2C3D8B;
  border-bottom: 1px solid #EE2024;
}
