<app-notification-comp></app-notification-comp>
<form  [formGroup]="branchAddForm" (ngSubmit)="addBranch(branchAddForm.value)" class="matero-form-horizontal" >
  <div class="card">
    <div class="card-header">
      <div fxLayout="row">
        <div fxFlex="2" >
          <button style="margin-top: 4px" mat-icon-button  [routerLink]="['../']" >
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div fxFlex="36" >
          <h3 style="padding-left: 6px">Add Branch</h3>
        </div>
        <div fxFlexOffset="32" fxFlex="30"  >
          <div class="right-nevigation">
            <button mat-icon-button matTooltip="Go Back"  [routerLink]="['../']" >
              <mat-icon>arrow_back</mat-icon>
            </button>
            <!--            <button mat-icon-button color="warn" matTooltip="Cancel" >-->
            <!--              <mat-icon>cancel</mat-icon>-->
            <!--            </button>-->
            <button mat-icon-button color="primary" type="submit"
                    [disabled]="!branchAddForm.valid"
                    matTooltip="Save">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Basic Information">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
            <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%" fxFlex.sm="50%" fxLayout.lt-sm="column"
                 fxFlex.xs="100%" fxLayoutAlign="flex-start">
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Select a bank</mat-label>
                <mat-select placeholder="Select a bank" formControlName="bankcode">
                  <mat-option *ngFor="let bank of bankData" [value]="bank.id">{{bank.fullName}} </mat-option>
                </mat-select>
                <mat-error *ngIf="branchAddForm.get('bankcode').invalid">Bank Name Required
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Full name" formControlName="fullName" required />

                <mat-error *ngIf="branchAddForm.get('fullName').invalid">full Name Required
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Short Name</mat-label>
                <input matInput placeholder="Short name" formControlName="shortName" required />
                <mat-error *ngIf="branchAddForm.get('shortName').invalid">Short Name Required
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Report Name</mat-label>
                <input matInput placeholder="Report Name" formControlName="reportName" required />
                <mat-error *ngIf="branchAddForm.get('reportName').invalid">Report Name Required
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Branch code</mat-label>
                <input matInput placeholder="Branch code" type="number" formControlName="branchcode" required />
                <mat-error *ngIf="branchAddForm.get('branchcode').invalid">Report Name Required
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>BB Code</mat-label>
                <input matInput placeholder="BB Code" formControlName="bbCode" required />
                <mat-error *ngIf="branchAddForm.get('bbCode').invalid">BB code Required
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>BB Reg No.</mat-label>
                <input matInput placeholder="BB Reg" formControlName="bbReg" required />
                <mat-error *ngIf="branchAddForm.get('bbReg').invalid">BB reg No: Required
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Swift Code</mat-label>
                <input matInput placeholder="Swift Code" formControlName="swiftCode" required />
                <mat-error *ngIf="branchAddForm.get('swiftCode').invalid">Swift code Required
                </mat-error>

              </mat-form-field>

              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Currancy</mat-label>
                <mat-select placeholder="Currancy" formControlName="baseCurrency" required>
                  <mat-option *ngFor="let currency of currencyData" [value]="currency.cur_name">{{currency.cur_name}} </mat-option>
                </mat-select>
                <mat-error *ngIf="branchAddForm.get('baseCurrency').invalid">Currency Required
                </mat-error>

              </mat-form-field>


            </div>
          </div>
        </mat-tab>
        <mat-tab label="Other Information">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
            <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%" fxFlex.sm="50%" fxLayout.lt-sm="column"
                 fxFlex.xs="100%" fxLayoutAlign="flex-start">


              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Created By</mat-label>

                <input matInput placeholder="Created By" formControlName="create_by" required />
                <mat-error *ngIf="branchAddForm.get('create_by').invalid">Created By Required
                </mat-error>

              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <input matInput [matDatepicker]="picker" ng-model-options="{ timezone: 'utc' }" placeholder="Open Date" formControlName="openDate" required >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="branchAddForm.get('openDate').invalid">Open Date Required
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Routing No</mat-label>
                <input matInput placeholder="Routing No" formControlName="routingNo" required />
                <mat-error *ngIf="branchAddForm.get('routingNo').invalid">Routing No Required
                </mat-error>

              </mat-form-field>

            </div>
          </div>
        </mat-tab>
        <mat-tab label="Address">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
            <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%" fxFlex.sm="50%" fxLayout.lt-sm="column"
                 fxFlex.xs="100%" fxLayoutAlign="flex-start">
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Country</mat-label>

                <input matInput placeholder="Country" formControlName="country" required >
<!--                <mat-error *ngIf="branchAddForm.get('country').invalid">Country Required-->
<!--                </mat-error>-->
              </mat-form-field>

              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>Division</mat-label>
                <mat-select placeholder="Division" [ngModel]="selectedDivision" (ngModelChange)="onSelect($event)"  formControlName="division" required>
                  <mat-option *ngFor="let division of divisionData" [value]="division.name">{{division.name}} </mat-option>
                </mat-select>
                <mat-error *ngIf="branchAddForm.get('division').invalid">Division Required
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="0 1 calc(33.33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
                              fxFlex.xs="100%" appearance="fill">
                <mat-label>City</mat-label>

                <input matInput placeholder="City" formControlName="city" required />
                <mat-error *ngIf="branchAddForm.get('city').invalid">City Required
                </mat-error>
              </mat-form-field>


            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</form>







