.reportLogo {
  margin-bottom: 20px;
  text-align: center;
}

.pdfPrint {
  margin-right: 5%;
  margin-left: 5%;
  overflow-y: auto;
  max-height: 500px;
  max-width: 100%;
}

.mat-raised-button.mat-success {
  color: #f0fff3;
  background-color: #4CAF50;
}

.mat-raised-button.mat-success:hover {
  color: #f0fff3;
  background-color: #46a049;
}

.print_export{
  margin-right: 5px;
  float: right;
  margin-top: 2%;
  text-align: center;
  margin-bottom: 2%;
}

thead {
  display: table-header-group;
}

