/* You can add global styles to this file, and also import other style files */
@import "styles/app";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@font-face {
//  font-family: Univers;
//  src: url(assets/fonts/NotoSans-Regular.ttf);
//}

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 10pt;
}

* {
  font-family: 'Exo 2', sans-serif;
}

.mat-sort-header-arrow {
  color: #fff !important;
  opacity: 1 !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 40px !important;
}

.card {
  height:94vh !important;
}


