// ==================================================
// LAYOUT
// ==================================================

.matero-container-wrap,
.matero-container {
  height: 100%;
}

.matero-content {
  position: relative;
  padding: 7px;
}

// TODO: Grid
.matero-row {
  margin-right: -$gutter/2;
  margin-left: -$gutter/2;
}

// TODO: Col
.matero-col {
  padding-right: $gutter/2;
  padding-left: $gutter/2;
}

// Header above
.matero-header-above {
  .matero-container {
    height: calc(100% - #{$toolbar-height-desktop}) !important;
  }

  .matero-sidebar-inner {
    height: 100% !important;
  }
}

// Fix the init content width
.matero-content-width-fix {
  .matero-content-wrap {
    margin-left: 500px;

    [dir='rtl'] & {
      margin-left: auto;
      margin-right: 240px;
    }
  }
}

//
// Auth
//
.matero-auth-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 200);
  background-image: url("~assets/images/world-map-vector.jpg");


}

.verticalLogin {
  background-color: transparent;

}
