<app-notification-comp></app-notification-comp>

<form [formGroup]="reactiveForm1"  class="matero-form-horizontal">
  <div class="card">
    <div class="card-header">
      <div fxLayout="row">
        <div fxFlex="2" >
          <button style="margin-top: 20px;padding-left: 25px; color: darkblue" mat-icon-button [routerLink]="['../']" >
            <mat-icon style="height:35px !important;width:35px !important; font-size:36px !important;">home</mat-icon>
          </button>
        </div>
        <div fxFlex="38">
          <h3 style="margin-top: 24px; padding-left: 50px; font-size: 24px;"><b> File Upload For Treasury </b></h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div fxLayout="column">
        <mat-horizontal-stepper #treasueyStepper formArrayName="formArray" [linear]="false">
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel><b> File Upload </b></ng-template>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
              <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%" fxFlex.sm="50%" fxLayout.lt-sm="column"
                   fxFlex.xs="100%" fxLayoutAlign="flex-start">
                <div class="cen">
                  <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx, .xls, .csv">
                  <button type="submit" mat-raised-button class="btn btn-info" (click)="Upload()" >Upload</button>
                </div>
              </div>
            </div>
              <div style="padding-top: 40px">
              <table class="uploadTable">
                <tr>
                  <th>Sl No</th>
                  <th>Date</th>
                  <th>Exchange House</th>
                  <th>Cur</th>
                  <th>USD Credit</th>
                  <th>Ex.House Rate</th>
                  <th>FC Account</th>
                  <th>BDT Account</th>
                  <th>Nostro Account</th>
                  <th>Bank Name</th>
                  <th>Notional Rate</th>
                </tr>
                <tr *ngFor="let s of uploadFileData, let Sl_No=index">
                  <td style=" text-align: right;">{{Sl_No+1}}</td>
                  <td style=" text-align: right;">{{s.V_Date}}</td>
                  <td style=" text-align: left;">{{s.Exchange_House}}</td>
                  <td style=" text-align: left;">{{s.Cur}}</td>
                  <td style=" text-align: right;">{{s.USD_CREDIT}}</td>
                  <td style=" text-align: right;">{{s.Ex_HouseRate}}</td>
                  <td style=" text-align: right;">{{s.FC_Account}}</td>
                  <td style=" text-align: right;">{{s.BDT_Account}}</td>
                  <td style=" text-align: right;">{{s.NOSTRO_ACCOUNT}}</td>
                  <td style=" text-align: left;">{{s.Bank_Name}}</td>
                  <td style=" text-align: right;">{{s.Notional_Rate}}</td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns" bgColor="accent"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
                </mat-paginator>
              </div>

          </mat-step>
          <mat-step class="step2" formGroupName="1" [stepControl]="formArray?.get([1])">
            <ng-template matStepLabel><b> Validation </b></ng-template>

                <div style="padding-top: 40px;">
                <table class="uploadTable" >
                  <tr>
                    <th>Sl.No</th>
                    <th>Date</th>
                    <th>Exchange House</th>
                    <th>Cur</th>
                    <th>Stelar Cur</th>
                    <th>USD Credit</th>
                    <th>Ex.House Rate</th>
<!--                    <th>FC Account</th>-->
<!--                    <th>BDT Account</th>-->
                    <th>Nostro Account</th>
                    <th>Bank Name</th>
                    <th>Notional Rate</th>
                    <th>Valid</th>
                    <th>Message</th>
                    <th>Cancel</th>
                  </tr>
                  <tr *ngFor="let s of uploadFileData, let Sl_No=index">
                    <td style=" text-align: right;">{{Sl_No+1}}</td>
                    <td style=" text-align: right;">{{s.V_Date}}</td>
                    <td style=" text-align: left;">{{s.Exchange_House}}</td>
                    <td style=" text-align: left;">{{s.Cur}}</td>
                    <td style=" text-align: left;">{{s.Stelar_Cur}}</td>
                    <td style=" text-align: right;">{{s.USD_CREDIT}}</td>
                    <td style=" text-align: right;">{{s.Ex_HouseRate}}</td>
<!--                    <td style=" text-align: right;">{{s.FC_Account}}</td>-->
<!--                    <td style=" text-align: right;">{{s.BDT_Account}}</td>-->
                    <td style=" text-align: right;">{{s.NOSTRO_ACCOUNT}}</td>
                    <td style=" text-align: left;">{{s.Bank_Name}}</td>
                    <td style=" text-align: right;">{{s.Notional_Rate}}</td>
                    <td>
                      <button mat-icon-button color="accent" (click)="UpdateCur(s)">
                        <mat-icon class="mat-18">update</mat-icon>
                      </button>
                    </td>
                    <td>{{s.Valid}}</td>
                    <td>
                      <button mat-icon-button color="warn" (click)="deleteTreasuryRow(s.Id)">
                        <mat-icon class="mat-18">delete_forever</mat-icon>
                      </button>
                    </td>
                  </tr>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns" bgColor="accent"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
                  </mat-paginator>
                </div>

          </mat-step>

        </mat-horizontal-stepper>

      </div>
    </div>
  </div>
</form>








