.card-header{
  border-radius: 5px 5px 0 0;
  padding-bottom: 15px;
  padding-left: 10px;
}
.btn {
  background-color: #2C3D8B;
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 8px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}
.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}
.warning {background-color: #F26722;} /* Orange */
.warning:hover {background: #F26722;}
.danger {background-color: #f44336; } /* Red */
.danger:hover {background: #da190b;}

.cen {
  position: absolute;
  width: 400px;
  height: 10px;
}
.right-nevigation {
  margin-left: 800px;
  float: right;
  margin-top: 10px;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

td, th {
  padding: 6px;
}
.table th {
  text-align: center;
  font-weight: bold;
  color: #2C3D8B;
  border-bottom: 1px solid #EE2024;
}
.table tr:hover {
  background-color: #AEE3F0;
  font-weight: bold;
  color: #2C3D8B;
}
