<app-notification-comp></app-notification-comp>
<form [formGroup]="reactiveForm1"  class="matero-form-horizontal">
  <div class="card">
    <div class="card-header">
      <div fxLayout="row">
        <div fxFlex="2" >
          <button style="margin-top: 22px;padding-left: 8px; color: darkblue" mat-icon-button [routerLink]="['../']" >
            <mat-icon style="height:38px !important;width:38px !important; font-size:38px !important;">home</mat-icon>
          </button>
        </div>
        <div fxFlex="38">
          <h3 style="margin-top: 24px; padding-left: 30px; font-size: 26px;"><b> API Transaction Details </b></h3>
        </div>
        <div fxFlex="60" class="cen" style="padding-bottom: 5px;padding-top: 80px;">
          <div fxLayout="row" >
            <div  style="margin-left: 180px">
              <mat-form-field>
                <mat-label>Exchange House Name</mat-label>
                <mat-select>
                  <mat-option>

                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div  style="margin-left: 180px">
             <mat-form-field>
              <mat-label>From Date</mat-label>
              <input matInput [matDatepicker]="picker1" placeholder="Choose From Date"/>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
             </mat-form-field>
            </div>
            <div  style="margin-left: 160px">
              <mat-form-field>
                <mat-label>To Date: </mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Choose To Date"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <div *ngIf="toDate.invalid && (toDate.dirty || toDate.touched)" class="alert alert-danger">
                <div style="color: red" *ngIf="toDate.errors.required"> To Date is required. </div>
               </div>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row">
            <div style="margin-left: 180px">
              <mat-form-field>
                <mat-label>Payment Type</mat-label>
                <mat-select>
                  <mat-option>

                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div style="margin-left: 180px">

              <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select>
                  <mat-option>

                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div fxLayout="row" style="margin-left: 180px; hight:40px">
                          <mat-form-field>
                          <input type="search" aria-label="Search" placeholder="Search" matInput (keyup)="applyFilter($event.target.value)"/>
                          <button mat-icon-button mat-button matSuffix matTooltip="Search" aria-label="Clear">
                            <mat-icon>search</mat-icon>
                          </button>
                          </mat-form-field>
<!--                        <button mat-raised-button color="primary">Show</button>-->
<!--                        <button mat-raised-button color="accent">Clear</button>-->
            </div>
          </div>

        </div>
        <div fxFlexOffset="33" fxFlex="30"  >
          <div fxLayout="row" class="right-nevigation">

                <div fxLayout="row" style="width: 100px; hight: 5px; padding: 15px; margin-right: 120px" class="btn-group" role="group" aria-label="Basic example">
                  <div style="padding-right: 8px">
                    <button class="btn warning">Show</button>
                  </div>
                  <div style="padding-right: 8px;">
                    <button class="btn danger">Clear</button>
                  </div>
                </div>

          </div>
        </div>
      </div>
    </div>




      <div class="col-md-12 table-responsive" #epltable>
        <div style="padding-bottom: 10px;padding-top: 100px;">
          <div class="row">
            <div class="col-sm-12">
<!--              <img src="https://img.icons8.com/color/48/000000/export-excel.png"/>-->
              <button (click)="exportToExcel()" class="btn btn-success"><b>Export To Excel</b></button>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>Sl No</th>
            <th>Company Prefix</th>
            <th>Transaction No</th>
            <th>Transaction Date</th>
            <th>Beneficiary Name</th>
            <th>Bank Name</th>
<!--            <th>Branch Name</th>-->
<!--            <th>Routing No</th>-->
            <th>Account No</th>
            <th>Amount</th>
<!--            <th>Incentive (%)</th>-->
            <th>Incentive Amount</th>
            <th>Total Amount</th>
<!--            <th>Payment Type</th>-->
<!--            <th>Remitter Name</th>-->
            <th>Status</th>
<!--            <th>Date</th>-->
<!--            <th>Details</th>-->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let club of clubs; let sl = index;">
            <td [routerLink]="['../details']">{{sl+1}}</td>
            <td [routerLink]="['../details']">{{club.Company_Prefix}}</td>
            <td [routerLink]="['../details']">{{club.Transaction_No}}</td>
            <td [routerLink]="['../details']">{{club.Transaction_Date}}</td>
            <td [routerLink]="['../details']">{{club.Beneficiary_Name}}</td>
            <td [routerLink]="['../details']">{{club.Bank_Name}}</td>
<!--            <td>{{club.Branch_Name}}</td>-->
<!--            <td>{{club.Routing_No}}</td>-->
            <td [routerLink]="['../details']">{{club.Account_No}}</td>
            <td [routerLink]="['../details']">{{club.Amount}}</td>
<!--            <td>{{club.Incentive}}</td>-->
            <td [routerLink]="['../details']">{{club.Incentive_Amount}}</td>
            <td [routerLink]="['../details']">{{club.Total_Amount}}</td>
<!--            <td>{{club.Payment_Type}}</td>-->
<!--            <td>{{club.Remitter_Name}}</td>-->
            <td [routerLink]="['../details']">{{club.Message}}</td>
<!--            <td>{{club.Date}}</td>-->
<!--            <td>-->
<!--              <button mat-icon-button color="primary" [routerLink]="['../details']">-->
<!--                <mat-icon class="mat-18">view_list</mat-icon>-->
<!--              </button>-->
<!--            </td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</form>
